/* sans-serif */

@font-face {
    font-family: alte;
    src: url(../fonts/alte-haas-grotesk.regular.ttf);
}

@font-face {
    font-family: alte-bold;
    src: url(../fonts/alte-haas-grotesk.bold.ttf);
}


/* serif */

@font-face {
    font-family: roboto-slab-bold;
    src: url(../fonts/RobotoSlab-Bold.ttf);
}

@font-face {
    font-family: roboto-slab;
    src: url(../fonts/RobotoSlab-Regular.ttf);
}




h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: alte-bold;
}


p,
a {
    font-family: roboto-slab;
}

a:focus {
    background-color: #000;
    color: #fa8334;
}

body {
    font-family: roboto-slab;
    background-color: #252525;
    color: #a67d7d;
    font-size: 18px;
}

input,
textarea,
select {
    border: 1px solid #111111 !important;
    font-family: roboto-slab;
}

.bold {
    font-family: roboto-slab;
    font-style: oblique;
}


/*  FOUNDATION OVERRIDES   */

.button {
    font-family: alte-bold;
    background-color: #111;
    color: #fff;
    -webkit-transition: background-color 0.05s ease-out, color 0.05s ease-out;
    transition: background-color 0.05s ease-out, color 0.05s ease-out;
}


.menu>li {
    background-color: #111;
}


.button:hover,
.button:focus,
.button.small:hover,
.button.small:focus {
    color: #fa8334;
    background-color: #000;
}


.callout {
    background-color: #c9cac0;
    border: 1px solid black;
    color: black;

    alink,
    vlink {
        color: #0300ae;
    }
}

.primary {
    background-color: #fff;
    border: 1px solid black;
}

.callout.primary {
    background-color: #e4ae39;
    color: #222;
    border: 1px solid black;
}

/* general style addon classes */

.red {
    color: #ae0000;
}

.underline {
    text-decoration: underline;
}


/* New classes */


/* Some containers, cards, and boxes */


.solid {
    background-color: #343865;
    color: #e5e5e5;
    border: none;

    a {
        color: #e5e5e5;
    }

    a:hover {
        color: #000000;
    }
}

.solidInsert {
    background-color: #e4ae39;
    color: #222222;
    border: 1px solid black;

    a {
        color: #4b4b4b;
    }

    a:hover {
        color: #fa8334;
        background-color: #0300ae;
    }

    .button {
        color: white;
    }
}

.interLevelLabel {
    display: inline-block;
}

.interLevelLabel:hover {
    cursor: pointer;
    color: #111;
}

.menuButton {
    background-color: #f6f6f6;
    color: #111;
    border: 1px solid #111;
    padding: 4px 7px 7px 7px;
    font-family: alte;
    font-size: 16px;
}

.menuButton:hover {
    background-color: #111;
    color: #98daee;
}

.editButton:hover {
    color: rgb(10, 186, 10);
}

.archiveButton:hover,
.archiveButton:focus {
    background-color: rgb(255, 52, 52);
    color: black;
}

.editComponentButtonBox {
    display: inline;
    justify-content: right;
    text-align: right;
    float: right;
}

.blackBack {
    background-color: #000;
    color: #fff;
}

#otherObjsBtnsCell {
    text-align: right;
}

#back_button {
    background-color: #ad496c;
}

#back_button:hover {
    color: #ddff00;
}


.storyTitleCardBox {
    background-color: white;
    border: 1px solid black;
    color: #ae0000;
    margin: 0px 0px 10px 0px;
    padding: 6px 10px 0px 10px;

    a {
        color: #111;
    }

    a:hover {
        color: #ae0000;
    }
}

.storyTitle {
    color: black;
    font-weight: bold;
}

.storyTitle:hover,
.storyTitle:focus {
    color: #ae0000;
}

#relatedCharactersBox {
    margin: auto 0px;
    padding: auto 0px;
    width: 100%;
}

.characterValuesListItem {
    display: flex;
    width: 100%;
}

.characterValuesListItem>div {
    margin: 2px;
    padding: 1px 2px 0px 4px;
    background-color: #4b4b4b;
    color: white;
}

.characterValuesListItemName {
    flex-grow: 8;
}

.characterValuesListItemAligned {
    flex-grow: 1;
}

.characterValuesListItemDelete {
    flex-grow: 1;
}


.listButton {
    margin: 1px;
}


.title_callout {
    margin-top: 14px;
}


.cardLabelContainer {
    margin: none;
    padding: 0px 5px 5px 5px;
    display: inline-block;
    max-width: 90%;
}


.cardLabel {
    padding-top: 0px;
    margin-top: 0px;
    text-align: left;
    font-weight: 600;
}

.newElementButton {
    font-weight: bold;
    color: #111;
    padding: 0px 4px 3px 4px;
    border: none;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    margin-top: 3px;
    font-family: alte;
}

.newElementButton:hover {
    background-color: #000;
    color: #fa8334;
}

.orderPar {
    display: inline-block;
    border: 1px solid black;
    margin-right: 5px;
    padding: 0px 5px;
    vertical-align: top;
    color: #ae0000;
    font-weight: 600;
    background-color: #e1e1e1;
}

#storyInfoBox {
    margin-top: 14px;
}

.cardLabel:hover {
    cursor: pointer;
}

.cardSectionLabel {
    font-weight: 500;
}

.subcomponent-box {
    display: none;
}


/* popup notifications */

.notificationWrapper {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #2603036a;
}

.notificationCallout {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
}


.deleteButton {
    margin-left: 3px;
    color: rgb(220, 49, 49);
    border: 1px solid #111;
}

.deleteButton:hover {
    background-color: rgb(220, 49, 49) !important;
    color: #111 !important;
}

/* inner items */

#storiesList,
#archiveList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.storiesListItem {
    padding: 14px;
}

.storiesListItem:hover {
    color: #ae0000;
}

.componentCardNav {
    font-size: 14px;
    font-family: alte-bold;
}

.cardBottomMenu {
    border-top: 2px solid black;
    width: 100%;
    position: relative;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.newComponentButtonLeft {
    padding: 0px 4px 3px 4px;
    border: none;
    border-radius: 5px;
    margin-top: 3px;
    justify-content: left;
    margin: 0px;
    margin-right: auto;
    margin-top: 3px;
    color: #111;
    font-family: alte;
}

.switchButtonRight {
    padding: 5px 14px 0px 14px;
    text-align: right;
    margin: 0px;
    margin-left: auto;
    padding: 0px 4px 3px 4px;
    border: none;
    border-radius: 5px;
    margin-top: 3px;
    color: #111;
    font-family: alte;
}

.nullButtonRight {
    padding: 5px 14px 0px 14px;
    text-align: right;
    margin: 0px;
    margin-left: auto;
    padding: 0px 4px 3px 4px;
    border: none;
    border-radius: 5px;
    margin-top: 3px;
    color: transparent;
    font-family: alte;
}

.nullButtonRight:hover {
    cursor: default;
    color: transparent;
}

.deleteButtonMiddle {
    color: #111;
    padding: 0px 4px 3px 4px;
    border: none;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    margin-top: 3px;
    font-family: alte;
}

.switchButtonRight:hover {
    background-color: rgb(247, 247, 255);
    color: #111;
}

.newComponentButtonLeft:hover {
    background-color: rgb(247, 247, 255);
    color: #111;
}

.deleteButtonMiddle:hover {
    background-color: rgb(196, 0, 0);
    color: white;
}

.align_right {
    text-align: right;
}

#loadingOverlay {
    display: none;
    background-color: #7D451B;
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 199;
}

#confirmationOverlay {
    background-color: #7D451B;
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 200;
}

#confirmButtonBox {
    display: flex;
}

.confirmButton {
    margin: auto;
}

.overlayFiller {
    display: inline-block;
    height: 30vh;
}

.whiteButton {
    background-color: #ebebeb;
    color: #111;
    border: none;
    padding: 7px 9px 7px 9px;
}

.cardTitleLink {
    background-color: #000;
    color: white;
    border-radius: 7px;
    padding: 7px 10px;
    margin-top: 0px;
    font-family: alte;
    font-size: 16px;
}

.cardTitleLink:hover {
    cursor: pointer;
    color: #e1e364
}

.componentLabel {
    display: inline-block;
    background-color: #e1e1e1;
    border: 1px solid black;
    margin-right: 5px;
    padding: 4px;
    color: #ae0000;
    font-weight: 600;
}


.descriptionButton:hover {
    cursor: pointer;
}


#storyIdLink {
    text-decoration: none;
}


.flex-container {
    display: flex;
    width: 100%;
    padding: none;
    margin: none;
    margin-bottom: 5px;
}

.flex-container>div {
    margin: none;
    padding: none;
}

.flex-half {
    flex: 50%;
}

.flex-quarter {
    flex: 25%;
}

.flex-3-quarters {
    flex: 75%;
}

/* isolated add-on classes */


.border_bottom {
    border-bottom: 1px solid black;
}

.align_right {
    text-align: right;
}

.noBottomMarginOrPadding {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.fullWidth {
    width: 100%;
}

/*
const colors = {
    CINEREOUS: "#7e6c6c",
    YELLOW: "#f0f600",
    TURQUOISE: "#42d9c8",
    MIDNIGHT_GREEN: "#023436",
    PUMPKIN: "#fa8334",
    MOONSTONE: "#5eb1bf",
    PAYNES_GRAY: "#5B6878",
    ECRU_1: "#A69658",
    ECRU_2: "#D9B26F",
    JASMINE: "#FADF7F",
    VANILLA: "#F2E29F",
    MADDER: "#B10F2E",
    SMOKY_BLACK: "#0B0500",
    RUSSET: "#7D451B",
    HONEYDEW: "#E5F4E3",
    WHITE_1: "#FEFDFF",
    IVORY: "#FDFBE9",
    ASH_GRAY: "#A4AC96",
    EGGSHELL: "#faf3dd",
    ANTI_FLASH_WHITE: "#efefef

}   

*/