body {
    background-color: #7D451B;
}


.title,
.title_callout {}

.cardLabel {
    text-align: center;
    font-weight: 600;
}

.cardLabel:hover {
    background-color: chocolate;
    cursor: pointer;
}

.cardSectionLabel {
    font-weight: 500;
}

.subcomponent-box {
    display: none;
}

.cardBottomMenu {
    border-top: 2px solid black;
    width: 100%;
    position: relative;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.newComponentButtonLeft {
    padding: 3px 14px 0px 14px;
    justify-content: left;
    margin: 0px;
    margin-right: auto;
}

.switchButtonRight {
    padding: 5px 14px 0px 14px;
    text-align: right;
    margin: 0px;
    margin-left: auto;
}

.deleteButtonMiddle {
    padding: 5px 14px 0px 14px;
    text-align: center;
    margin: auto;
}

.switchButtonRight:hover {
    background-color: blue;
    color: #fa8334;
}

.newComponentButtonLeft:hover {
    background-color: #023436;
    color: #fa8334;
}

.deleteButtonMiddle:hover {
    background-color: red;
    color: black;
}

#loadingOverlay {
    display: none;
    background-color: #7D451B;
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 199;
}

#confirmatioOverlay {
    display: none;
    background-color: #7D451B;
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 200;
}

#confirmButtonBox {
    display: flex;
}

.confirmButton {
    margin: auto;
}

.overlayFiller {
    display: inline-block;
    height: 30vh;
}

.white_button {
    background-color: white;
    color: black;
    border: none;
    padding: 7px 9px 7px 9px;
}

.cardTitleLink {
    color: black;
    padding: 7px;
    padding-top: 12px;
    border-bottom: 2px solid black;
}

.cardTitleLink:hover {
    cursor: default;
    background-color: #7D451B;
    color: white;
}

/*  FOUNDATION OVERRIDES   */


.callout {
    background-color: #D9B26F;
    border: none;
}

.primary {
    background-color: #efefef;
    border: none;
}

/*
const colors = {
    CINEREOUS: "#7e6c6c",
    YELLOW: "#f0f600",
    TURQUOISE: "#42d9c8",
    MIDNIGHT_GREEN: "#023436",
    PUMPKIN: "#fa8334",
    MOONSTONE: "#5eb1bf",
    PAYNES_GRAY: "#5B6878",
    ECRU_1: "#A69658",
    ECRU_2: "#D9B26F",
    JASMINE: "#FADF7F",
    VANILLA: "#F2E29F",
    MADDER: "#B10F2E",
    SMOKY_BLACK: "#0B0500",
    RUSSET: "#7D451B",
    HONEYDEW: "#E5F4E3",
    WHITE_1: "#FEFDFF",
    IVORY: "#FDFBE9",
    ASH_GRAY: "#A4AC96",
    EGGSHELL: "#faf3dd",
    ANTI_FLASH_WHITE: "#efefef

}   

*/

.fullWidth {
    width: 100%;
}