@font-face {
    font-family: alte;
    src: url(../fonts/alte-haas-grotesk.regular.ttf);
}

@font-face {
    font-family: alte-bold;
    src: url(../fonts/alte-haas-grotesk.bold.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: alte-bold;
}


p,
a {
    font-family: alte;
}

body {
    font-family: alte;
    background-color: #ffffff;
}

input,
textarea,
select {
    border: 1px solid #111111 !important;
}


/*  FOUNDATION OVERRIDES   */

.button {
    font-family: alte-bold;
    background-color: #000;
    color: #fff;
}

.button:hover {
    color: #fa8334;
    background-color: #000;
}


.callout {
    background-color: #fff;
    border: 1px solid black;
}

.primary {
    background-color: #ffffff;
    border: 1px solid black;
}


/* general style addon classes */

.red {
    color: #e90000;
}

.underline {
    text-decoration: underline;
}


/* New classes */


/* Some containers, cards, and boxes */


.solid {
    background-color: #4b4b4b;
    color: #cbcbcb;
    border: none;

    a {
        color: #cbcbcb;
    }

    a:hover {
        color: #000000;
    }
}

.solidInsert {
    background-color: #cbcbcb;
    color: #4b4b4b;
    border: none;

    a {
        color: #4b4b4b;
    }

    a:hover {
        color: #cbcbcb;
    }

    .button {
        color: white;
    }
}

.blackBack {
    background-color: #000;
    color: #fff;
}

.storyTitleCardBox {
    background-color: white;
    border: none;
    color: black;
    margin: 0px 0px 10px 0px;
    padding: 2px 10px;

    a {
        color: black;
    }

    a:hover {
        color: #e90000;
    }
}

.storyTitle {
    color: black;
    font-weight: bold;
}

.storyTitle:hover {
    color: #e90000;
}


.listButton {
    margin: 1px;
}


.title_callout {
    margin-top: 14px;
}


.cardLabelContainer {
    margin: none;
    padding: 0px 5px 5px 5px;
    display: inline-block;
    max-width: 90%;
}


.cardLabel {
    padding-top: 0px;
    margin-top: 0px;
    text-align: left;
    font-weight: 600;
}

.orderPar {
    display: inline-block;
    border: 1px solid black;
    margin-right: 5px;
    padding: 0px 5px;
    vertical-align: top;
    color: #e90000;
    font-weight: 600;
}

#storyInfoBox {
    margin-top: 14px;
}

.cardLabel:hover {
    cursor: pointer;
}

.cardSectionLabel {
    font-weight: 500;
}

.subcomponent-box {
    display: none;
}


/* inner items */

#storiesList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.storiesListItem {
    padding: 14px;
}

.storiesListItem:hover {
    color: #e90000;
}

.cardBottomMenu {
    border-top: 2px solid black;
    width: 100%;
    position: relative;
    bottom: 0px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.newComponentButtonLeft {
    padding: 3px 14px 0px 14px;
    justify-content: left;
    margin: 0px;
    margin-right: auto;
}

.switchButtonRight {
    padding: 5px 14px 0px 14px;
    text-align: right;
    margin: 0px;
    margin-left: auto;
}

.deleteButtonMiddle {
    padding: 5px 14px 0px 14px;
    text-align: center;
    margin: auto;
}

.switchButtonRight:hover {
    background-color: blue;
    color: #fa8334;
}

.newComponentButtonLeft:hover {
    background-color: #023436;
    color: #fa8334;
}

.deleteButtonMiddle:hover {
    background-color: red;
    color: black;
}

#loadingOverlay {
    display: none;
    background-color: #7D451B;
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 199;
}

#confirmatioOverlay {
    display: none;
    background-color: #7D451B;
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 200;
}

#confirmButtonBox {
    display: flex;
}

.confirmButton {
    margin: auto;
}

.overlayFiller {
    display: inline-block;
    height: 30vh;
}

.white_button {
    background-color: white;
    color: black;
    border: none;
    padding: 7px 9px 7px 9px;
}

.cardTitleLink {
    background-color: #000;
    color: white;
    border-radius: 7px;
    padding: 7px 10px;
    margin-top: 0px;
}

.cardTitleLink:hover {
    cursor: pointer;
}

.componentLabel {
    display: inline-block;
    border: 1px solid black;
    margin-right: 5px;
    padding: 4px;
    color: #e90000;
    font-weight: 600;
}


.descriptionButton:hover {
    cursor: pointer;
}


#storyIdLink {
    text-decoration: none;
}


.flex-container {
    display: flex;
    width: 100%;
    padding: none;
    margin: none;
    margin-bottom: 5px;
}

.flex-container>div {
    margin: none;
    padding: none;
}

.flex-half {
    flex: 50%;
}

.flex-quarter {
    flex: 25%;
}

.flex-3-quarters {
    flex: 75%;
}

/* isolated add-on classes */


.border_bottom {
    border-bottom: 1px solid black;
}

.align_right {
    text-align: right;
}

.noBottomMarginOrPadding {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.fullWidth {
    width: 100%;
}

/*
const colors = {
    CINEREOUS: "#7e6c6c",
    YELLOW: "#f0f600",
    TURQUOISE: "#42d9c8",
    MIDNIGHT_GREEN: "#023436",
    PUMPKIN: "#fa8334",
    MOONSTONE: "#5eb1bf",
    PAYNES_GRAY: "#5B6878",
    ECRU_1: "#A69658",
    ECRU_2: "#D9B26F",
    JASMINE: "#FADF7F",
    VANILLA: "#F2E29F",
    MADDER: "#B10F2E",
    SMOKY_BLACK: "#0B0500",
    RUSSET: "#7D451B",
    HONEYDEW: "#E5F4E3",
    WHITE_1: "#FEFDFF",
    IVORY: "#FDFBE9",
    ASH_GRAY: "#A4AC96",
    EGGSHELL: "#faf3dd",
    ANTI_FLASH_WHITE: "#efefef

}   

*/